.elementor-kit-9{--e-global-color-primary:#000000;--e-global-color-secondary:#B5FF00;--e-global-color-text:#BFBFBF;--e-global-color-accent:#000000;--e-global-typography-primary-font-family:"Archivo";--e-global-typography-primary-font-weight:600;--e-global-typography-secondary-font-family:"Archivo";--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"Archivo";--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"Criteria";--e-global-typography-accent-font-weight:500;}.elementor-kit-9 e-page-transition{background-color:#FFBC7D;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1280px;}.e-con{--container-max-width:1280px;--container-default-padding-top:0px;--container-default-padding-right:0px;--container-default-padding-bottom:0px;--container-default-padding-left:0px;}.elementor-widget:not(:last-child){margin-block-end:20px;}.elementor-element{--widgets-spacing:20px 20px;--widgets-spacing-row:20px;--widgets-spacing-column:20px;}{}h1.entry-title{display:var(--page-title-display);}.site-header .site-branding{flex-direction:column;align-items:stretch;}.site-header{padding-inline-end:0px;padding-inline-start:0px;}.site-footer .site-branding{flex-direction:column;align-items:stretch;}@media(max-width:1024px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-con{--container-max-width:1024px;}}@media(max-width:767px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-con{--container-max-width:767px;}}/* Start Custom Fonts CSS */@font-face {
	font-family: 'Archivo';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../fonts/Archivo-Regular.eot');
	src: url('../fonts/Archivo-Regular.eot#iefix') format('embedded-opentype'),
		url('../fonts/Archivo-Regular.woff2') format('woff2'),
		url('../fonts/Archivo-Regular.woff') format('woff'),
		url('../fonts/Archivo-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Archivo';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('../fonts/Archivo-SemiBold.eot');
	src: url('../fonts/Archivo-SemiBold.eot#iefix') format('embedded-opentype'),
		url('../fonts/Archivo-SemiBold.woff2') format('woff2'),
		url('../fonts/Archivo-SemiBold.woff') format('woff'),
		url('../fonts/Archivo-SemiBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Archivo';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('../fonts/Archivo-Bold.eot');
	src: url('../fonts/Archivo-Bold.eot#iefix') format('embedded-opentype'),
		url('../fonts/Archivo-Bold.woff2') format('woff2'),
		url('../fonts/Archivo-Bold.woff') format('woff'),
		url('../fonts/Archivo-Bold.ttf') format('truetype');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Criteria';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('../fonts/CriteriaCF-DemiBold.eot');
	src: url('../fonts/CriteriaCF-DemiBold.eot#iefix') format('embedded-opentype'),
		url('../fonts/CriteriaCF-DemiBold.woff2') format('woff2'),
		url('../fonts/CriteriaCF-DemiBold.woff') format('woff'),
		url('../fonts/CriteriaCF-DemiBold.ttf') format('truetype');
}
/* End Custom Fonts CSS */